.App {
  text-align: center;
  top: 20px;
  height: 1000px;
  background-color: #282c34;

}

.bot-pad{
  height: 1px;
  background-color:#282c34 ;
}



.game-board{
  position: relative;
  text-align: match-parent;
  display: flex;
  flex-wrap: wrap;
  left: calc(50% - 250px);
  height: 520px;
  width: 520px;
  top: 2px;
  border: 10px solid rgb(122, 120, 109);
  border-radius: 5px;
  background-color: rgb(122, 120, 109);
}

.game-info{
  position: relative;
  top: 10px;
  border-radius: 5px;
  height: 100px;
  width: 500px;
  left: calc(50% - 250px);
  background-color: aqua;
}

.game-piece >h1{
  color: rgb(78, 78, 78);
  line-height: 125px;
 
}

.game-piece{
  position: relative;
  border-radius: 5px;
  height: 125px;
  width: 125px;
  background-color: rgb(246, 242, 222);
  border: 3px solid black;
  text-align: center;
  line-height: 125px;
  font-size: 55px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#empty-tile{
background-color:rgb(122, 120, 109) ;
}

.bg{
  background-color: #282c34;
  height: 100%;
  width: 100%;
  top: -20px;
}

#active-tile{
  background-color:rgb(246, 242, 222)
}

#empty-tile{
background-color:rgb(122, 120, 109) ;
}

.bg{
  background-color: #282c34;
  height: 100%;
  width: 100%;
  top: -20px;
}

#active-tile{
  background-color:rgb(246, 242, 222)
}

.tile-2{
  background-color: #eee4da ;
  color: rgb(68, 66, 66)
}

.tile-4{
  background-color: #eee1c9 ;
}

.tile-8{
  background-color: #f3b27a ;
  color: white;
}

.tile-16{
  background-color: #f75f3b ;
  color: white;
}

.tile-32{
  background-color: rgb(255, 118, 77) ;
  color: white;
}

.tile-64{
  background-color: rgb(238, 82, 55) ; 
  color: white;
}
.tile-128{
  background-color: #edd073 ; 
  color: white;
}

